@model IndexViewModel
@{
    ViewData["Title"] = "Perfil";
    ViewData.AddActivePage(ManageNavPages.Index);
}




@{
    <input type="button" class="btn btn-primary" value="+" onclick="fonte('a');" />
    <input type="button" class="btn btn-primary" value="-" onclick="fonte('b');" />
    <input type="hidden" id="backup" />
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6" id="conteudo" style="font-size: 15px;">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Nome de Usuário</label>
                <!--<label asp-for="Username"></label>-->
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Número de telefone</label>
                <!--<label asp-for="PhoneNumber"></label>-->
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")


    <script type="text/javascript">

        /* Função para acessibilidade */
        function fonte(e) {

            var elemento = document.getElementById("conteudo");// Recebendo o Id da div
            var atual = elemento.style.fontSize; // identificando a fonte



            if (e == 'a') {

                atual = parseInt(atual) + 15 + 'px'; // Calculo de tamanho de fonte
            } else if (e == 'b') {
                atual = parseInt(atual) - 15 + 'px';

            } else if (e == 'c') {
                elemento.style.fontSize = atual;

            }
            elemento.style.fontSize = atual;

        }


    </script>

}
