@{
    ViewData["Title"] = "Contact";
}


@{
    <input type="button" class="btn btn-primary" value="+" onclick="fonte('a');" />
    <input type="button" class="btn btn-primary" value="-" onclick="fonte('b');" />
    <input type="hidden" id="backup" />
}

<div id="conteudo" style="font-size: 15px;">
    <h2>Contatos</h2>
    <address>
        Brasilia -DF<br />
        Asa Sul, Apartamento 345<br />
        <abbr title="Phone">Telefone:</abbr>
        (61)3345-9089
    </address>

    <address>



        <strong>Support:</strong> <a href="mailto:solutionti@gmail.com">solutionti@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:MarketinSolutiing@gmai.com">solutionti@gmail.com</a>
    </address>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">

        /* Função para acessibilidade */
        function fonte(e) {

            var elemento = document.getElementById("conteudo");// Recebendo o Id da div
            var atual = elemento.style.fontSize; // identificando a fonte



            if (e == 'a') {

                atual = parseInt(atual) + 15 + 'px'; // Calculo de tamanho de fonte
            } else if (e == 'b') {
                atual = parseInt(atual) - 15 + 'px';

            } else if (e == 'c') {
                elemento.style.fontSize = atual;

            }
            elemento.style.fontSize = atual;

        }


    </script>
}